
# Advanced Certification in AIML
## A Program by IIIT-H and TalentSprint

### Setup Steps

In [0]:
#@title Please enter your registration id to start: (e.g. P181900101) { run: "auto", display-mode: "form" }
Id = "P181902118" #@param {type:"string"}

In [0]:
#@title Please enter your password (normally your phone number) to continue: { run: "auto", display-mode: "form" }
password = "8860303743" #@param {type:"string"}

In [0]:
#@title Run this cell to complete the setup for this Notebook
from IPython import get_ipython

ipython = get_ipython()
  
notebook="BLR_M0W0_EXP_2_PythonBasics" 

def setup():
#  ipython.magic("sx pip3 install torch")  
    from IPython.display import HTML, display
    display(HTML('<script src="https://dashboard.talentsprint.com/aiml/record_ip.html?traineeId={0}&recordId={1}"></script>'.format(getId(),submission_id)))
    print("Setup completed successfully")
    return

def submit_notebook():
    
    ipython.magic("notebook -e "+ notebook + ".ipynb")
    
    import requests, json, base64, datetime

    url = "https://dashboard.talentsprint.com/xp/app/save_notebook_attempts"
    if not submission_id:
      data = {"id" : getId(), "notebook" : notebook, "mobile" : getPassword()}
      r = requests.post(url, data = data)
      r = json.loads(r.text)

      if r["status"] == "Success":
          return r["record_id"]
      elif "err" in r:        
        print(r["err"])
        return None        
      else:
        print ("Something is wrong, the notebook will not be submitted for grading")
        return None

    elif getAnswer() and getComplexity() and getAdditional() and getConcepts():
      f = open(notebook + ".ipynb", "rb")
      file_hash = base64.b64encode(f.read())

      data = {"complexity" : Complexity, "additional" :Additional, 
              "concepts" : Concepts, "record_id" : submission_id, 
              "answer" : Answer, "id" : Id, "file_hash" : file_hash,
              "notebook" : notebook}

      r = requests.post(url, data = data)
      r = json.loads(r.text)
      print("Your submission is successful.")
      print("Ref Id:", submission_id)
      print("Date of submission: ", r["date"])
      print("Time of submission: ", r["time"])
      print("View your submissions: https://iiith-aiml.talentsprint.com/notebook_submissions")
      print("For any queries/discrepancies, please connect with mentors through the chat icon in LMS dashboard.")
      return submission_id
    else: submission_id
    

def getAdditional():
  try:
    if Additional: return Additional      
    else: raise NameError('')
  except NameError:
    print ("Please answer Additional Question")
    return None

def getComplexity():
  try:
    return Complexity
  except NameError:
    print ("Please answer Complexity Question")
    return None
  
def getConcepts():
  try:
    return Concepts
  except NameError:
    print ("Please answer Concepts Question")
    return None

def getAnswer():
  try:
    return Answer
  except NameError:
    print ("Please answer Question")
    return None

def getId():
  try: 
    return Id if Id else None
  except NameError:
    return None

def getPassword():
  try:
    return password if password else None
  except NameError:
    return None

submission_id = None
### Setup 
if getPassword() and getId():
  submission_id = submit_notebook()
  if submission_id:
    setup()
    from IPython.display import HTML
    HTML('<script src="https://dashboard.talentsprint.com/aiml/record_ip.html?traineeId={0}&recordId={1}"></script>'.format(getId(),submission_id))
  
else:
  print ("Please complete Id and Password cells before running setup")

Setup completed successfully

### Dictionaries/Sets/List-comprehensions/Function: 
Under this section you'll see basic introduction to all osf the above, from the perspective of using misunderstanding that arise during writing ML programs.

**NOTE: There is no grading involved in this exercise.**

## Dictionaries

In [0]:
#Create a dictionary
capitals = {"INDIA" : "New Delhi", "USA" : "Washington DC", "UK" : "London" }

In [0]:
#Retrive value of a key
capitals["USA"]

'Washington DC'

In [0]:
#Retrive value of a key
capitals["INDIA"]

'New Delhi'

In [0]:
#Case sensitive
capitals["India"]

KeyError: ignored

In [0]:
#Length of a dictionary
len(capitals)

In [0]:
#Built-in function to get the keys
capitals.keys()

dict_keys(['INDIA', 'USA', 'UK'])

In [0]:
#Built-in function to get values 
capitals.values()

dict_values(['New Delhi', 'Washington DC', 'London'])

In [0]:
#Retrive all the key - value pairs
capitals.items()

dict_items([('INDIA', 'New Delhi'), ('USA', 'Washington DC'), ('UK', 'London')])

In [0]:
#Adding a key - value pair
capitals["SRI LANKA"] = "Colombo"

In [0]:
#New length of dictionary
len(capitals)

4

In [0]:
#Order of key-value pairs get changed
capitals

{'INDIA': 'New Delhi',
 'SRI LANKA': 'Colombo',
 'UK': 'London',
 'USA': 'Washington DC'}

In [0]:
capitals["AFGANISTAN"] = "Kabul"

In [0]:
#Update an existing dictionary
capitals["AFGANISTAN"] = "KABUL"

In [0]:
capitals

{'AFGANISTAN': 'KABUL',
 'INDIA': 'New Delhi',
 'SRI LANKA': 'Colombo',
 'UK': 'London',
 'USA': 'Washington DC'}

In [0]:
#Dictionaries can contain tuples
capitals[(23,45)] = "Number"

In [0]:
capitals

{(23, 45): 'Number',
 'AFGANISTAN': 'KABUL',
 'INDIA': 'New Delhi',
 'SRI LANKA': 'Colombo',
 'UK': 'London',
 'USA': 'Washington DC'}

In [0]:
for k in capitals.keys():
  print ( capitals[k])

New Delhi
Washington DC
London
Colombo
KABUL
Number

In [0]:
for k in capitals.keys():
  print ( k , capitals[k])

INDIA New Delhi
USA Washington DC
UK London
SRI LANKA Colombo
AFGANISTAN KABUL
(23, 45) Number

In [0]:
#Letter count
letterCount = {}

In [0]:
s = '''TalentSprint is a digital platform designed to transform 
the lives of professionals in the new economy. Its blended bootcamps
offer deeptech skills.'''

In [0]:
for ch in s :
  ch = ch.lower()
  if ch not in letterCount :
    letterCount[ch] = 1
  else :
    letterCount[ch] += 1

In [0]:
letterCount

{'\n': 2,
 ' ': 20,
 '.': 2,
 'a': 7,
 'b': 2,
 'c': 3,
 'd': 6,
 'e': 15,
 'f': 6,
 'g': 2,
 'h': 3,
 'i': 10,
 'k': 1,
 'l': 8,
 'm': 4,
 'n': 9,
 'o': 11,
 'p': 5,
 'r': 6,
 's': 12,
 't': 12,
 'v': 1,
 'w': 1,
 'y': 1}

In [0]:
letterCount.keys()

dict_keys(['t', 'a', 'l', 'e', 'n', 's', 'p', 'r', 'i', ' ', 'd', 'g', 'f', 'o', 'm', '\n', 'h', 'v', 'w', 'c', 'y', '.', 'b', 'k'])

## Sets - Distinct elements of a group

In [0]:
#can be created in two ways
setWithoutRepetitions=set([1,2,2,2,3,3,3,3,4,5])#Passing an entire list object
#passing individual objects and using curly braces
setWithoutReps2={1,2,2,2,3,3,3,3,4,5}

In [0]:
setWithoutRepetitions

{1, 2, 3, 4, 5}

In [0]:
setWithoutReps2

{1, 2, 3, 4, 5}

### Sets are unordered

In [0]:
alphabets=['q','u','u','x']

In [0]:
alphabetSet=set(alphabets)

In [0]:
#need not be in order, though coincidentally sometimes is!
alphabetSet

{'q', 'u', 'x'}

### Sets are immutable

In [0]:
#Lets change second element of 'alphabetSet' above! You'll see the error...
alphabetSet[1]='b'

TypeError: ignored

### Note: All standard mathematical set operations are possible in sets. Please explore those.

### Set Uses

In [0]:
#useful in text processing. For example: finding distinct alphabets in a word
word='mississippi'

In [0]:
distinctAplha=set(word)

In [0]:
distinctAplha

{'i', 'm', 'p', 's'}

## Functions

### Return values

In [0]:
def returnsTwoValues():
  x=1
  y=2
  return x,y

In [0]:
#Call the function above "ONLY" to return the value of y while ignoring X
_,y=returnsTwoValues()

### First class objects

In [0]:
#Functions are first-class objects. For instance, you can pass function as a parameter
def greet(differentTypesOfGreet):
  greetText = differentTypesOfGreet()
  print(greetText)

def justHello():
  return "hello"

def ecstaticHello():
  return "Heyyyyy!!!!"

In [0]:
greet(justHello)
greet(ecstaticHello)

hello
Heyyyyy!!!!

## File Handling

In [0]:
#EXERCISE: Open a file for writing
f=open('MyDetails.txt','w')
f.write("I am so and so")
f.close()

In [0]:
#EXERCISE: Read the file that you just wrote and saved and print the contents
readF=open("MyDetails.txt",'r')

In [0]:
for lines in readF:
  print(f'printing using flash string : {lines}')# Upwards of Python 3.0
  print('printing using good old print :',lines) #On all versions. Which way of formatting seems easier?

printing using flash string : I am so and so
printing using good old print : I am so and so

In [0]:
readF.close()

# Programs - Functions/Dictionaries/Sets/List comprehensions

## Fuctions/List comprehensions:
**Problem1**: If we list all the natural numbers below 10 that are multiples of 3 or 5, we get 3, 5, 6 and 9. The sum of these multiples is 23.

Find the sum of all the multiples of 3 or 5 below 1000.

In [0]:
### Using a function with while
def select(x):
    return x % 3 == 0 or x % 5 == 0

LIMIT = 1000
total = 0
n = 1
while n < LIMIT:
    if select(n):
        total += n
    n += 1
print(total)

233168

In [0]:
### Using filter with lambda
LIMIT = 1000
sum(filter(lambda x: x % 3 == 0 or x % 5 == 0, range(LIMIT)))

233168

In [0]:
### Using filter with function
def select(x):
    return x % 3 == 0 or x % 5 == 0
LIMIT = 1000
sum(filter(select, range(LIMIT)))

233168

In [0]:
### Using list comprehensions
LIMIT = 1000
sum([x for x in range(LIMIT) if x % 3 == 0 or x % 5 == 0])

233168

**Problem2**: Each new term in the Fibonacci sequence is generated by adding the previous two terms. By starting with 1 and 2, the first 10 terms will be:

1, 2, 3, 5, 8, 13, 21, 34, 55, 89, ...

By considering the terms in the Fibonacci sequence whose values do not exceed four million, find the sum of the even-valued terms.

In [0]:
### Generating the fibonacci series and storing it
### caution: MEMORY hungry
def fib(n):
    a, b = 0, 1
    fibs = []
    while a < n:
        fibs.append(a)
        a, b = b, a+b
    return fibs

In [0]:
### filter and lambda with the generated fibs 
LIMIT = 4000000
sum(filter(lambda x: x % 2 == 0, fib(LIMIT)))

4613732

In [0]:
### list comprehension with the generated fibs 
LIMIT = 4000000
sum([x for x in fib(LIMIT) if x % 2 == 0])

4613732

In [0]:
### Using yield, filter and lambda
### ADVANCED: does not take up memory
def fib(n):
    a, b = 0, 1
    while a < n:
        yield a
        a, b = b, a + b
LIMIT = 4000000
sum(filter(lambda x: x % 2 == 0, fib(LIMIT)))

4613732

**Problem3**: FizzBuzz 
This is a game that has gained in popularity as a programming assignment to weed out non-programmers during job interviews. The object of the assignment is less about solving it correctly according to the below rules and more about showing the programmer understands basic, necessary tools such as if-/else-statements and loops. The rules of FizzBuzz are as follows:

For numbers 1 through 100,

 * if the number is divisible by 3 print Fizz;
 * if the number is divisible by 5 print Buzz;
 * if the number is divisible by 3 and 5 (15) print FizzBuzz;
 * else, print the number.

In [0]:
##COULD YOU TRY A SOPHISTICATED VERISON THAT INCLUDES FUNCTIONS/LIST-COMPREHENSIONS etc?
##YOUR CODE HERE##
def fizzbuzz(n):
    fb = ""
    if n % 3 == 0:
        fb += "FIZZ"
    if n % 5 == 0:
        fb += "BUZZ"
    if len(fb) == 0:
        return str(n)
    else:
        return fb
fbs = [fizzbuzz(x) for x in range(1,101)]
print(fbs)

['1', '2', 'FIZZ', '4', 'BUZZ', 'FIZZ', '7', '8', 'FIZZ', 'BUZZ', '11', 'FIZZ', '13', '14', 'FIZZBUZZ', '16', '17', 'FIZZ', '19', 'BUZZ', 'FIZZ', '22', '23', 'FIZZ', 'BUZZ', '26', 'FIZZ', '28', '29', 'FIZZBUZZ', '31', '32', 'FIZZ', '34', 'BUZZ', 'FIZZ', '37', '38', 'FIZZ', 'BUZZ', '41', 'FIZZ', '43', '44', 'FIZZBUZZ', '46', '47', 'FIZZ', '49', 'BUZZ', 'FIZZ', '52', '53', 'FIZZ', 'BUZZ', '56', 'FIZZ', '58', '59', 'FIZZBUZZ', '61', '62', 'FIZZ', '64', 'BUZZ', 'FIZZ', '67', '68', 'FIZZ', 'BUZZ', '71', 'FIZZ', '73', '74', 'FIZZBUZZ', '76', '77', 'FIZZ', '79', 'BUZZ', 'FIZZ', '82', '83', 'FIZZ', 'BUZZ', '86', 'FIZZ', '88', '89', 'FIZZBUZZ', '91', '92', 'FIZZ', '94', 'BUZZ', 'FIZZ', '97', '98', 'FIZZ', 'BUZZ']

**Problem4: Primes!**
By listing the first six prime numbers: 2, 3, 5, 7, 11, and 13, we can see that the 6th prime is 13.

What is the  10,001𝑡ℎ  prime number?

In [0]:
## Use the constructs learnt above to write this one.
##YOUR CODE HERE

%%time
import math
# n = 10001
# print("max possiblity of 10001th prime number -", 2 * n * math.log(n))
# print("max possiblity of 10001th prime number -", n * math.log(n) * math.log(math.log(n) - 0.9385))

# 𝑛(ln𝑛+lnln𝑛)
def primes_sieve(n):
    p_n = int(2 * n * math.log(n))       # over-estimate p_n
    sieve = [True] * p_n                 # everything is prime to start
    count = 0

    for i in range(2, p_n):
        if sieve[i]:                       # still prime?
            count += 1                     # count it!
            if count == n:                 # done!
                return i
            for j in range(2*i, p_n, i):   # cross off all multiples of i
                sieve[j] = False
                
print('10001th prime number - ', primes_sieve(10001))

10001th prime number -  104743
CPU times: user 42.8 ms, sys: 33 µs, total: 42.8 ms
Wall time: 42.7 ms

### Please answer the questions below to complete the experiment:

In [0]:
#@title Which of the following cannot be used as keys in dictionaries { run: "auto", form-width: "500px", display-mode: "form" }
Answer = "list" #@param  ["strings", "tuples", "list"]

In [0]:
#@title How was the experiment? { run: "auto", form-width: "500px", display-mode: "form" }
Complexity = "Good and Challenging for me" #@param ["Too Simple, I am wasting time", "Good, But Not Challenging for me", "Good and Challenging for me", "Was Tough, but I did it", "Too Difficult for me"]

In [0]:
#@title If it was very easy, what more you would have liked to have been added? If it was very difficult, what would you have liked to have been removed? { run: "auto", display-mode: "form" }
Additional = "all good" #@param {type:"string"}

In [0]:
#@title Can you identify the concepts from the lecture which this experiment covered? { run: "auto", vertical-output: true, display-mode: "form" }
Concepts = "Yes" #@param ["Yes", "No"]

In [0]:
#@title Run this cell to submit your notebook for grading { vertical-output: true }
try:
  if submission_id:
      return_id = submit_notebook()
      if return_id : submission_id =return_id
  else:
      print("Please complete the setup first.")
except NameError:
  print ("Please complete the setup first.")

Your submission is successful.
Ref Id: 1372
Date of submission:  11 Mar 2019
Time of submission:  19:53:59
View your submissions: https://iiith-aiml.talentsprint.com/notebook_submissions
For any queries/discrepancies, please connect with mentors through the chat icon in LMS dashboard.